// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

$default-serif: 'PT Serif', serif;
$default-sans-serif: 'PT Sans', sans-serif;

body {
  font-family: $default-serif;
  background: image_url('nyc_event_bckgrd.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#title {
  font-family: $default-sans-serif;
  color: white;
  margin-bottom: 20px;
  h1 {
    font-size: 4em;
    text-shadow: 2px 2px #FF0000;
  }
}
dl {
  border: solid 2px orange;
  background-color: white;
  opacity: 0.8;
  dt {
    font-size: 24px;
  }
}
#events-form {
  font-family: $default-sans-serif;
  background-color: white;
  opacity: 0.8;
  border: solid 2px orange;
}
#event-box {
  margin-top: 20px;
  margin-bottom: 50px;
}
#submit-btn {
  margin-top: 10px;
  margin-bottom: 15px;
}
// change bootstrap default scrollable area height
.pre-scrollable {
  max-height: 400px !important;
}
