// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: image_url('nyc_event_bckgrd.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#title {
  color: white;
  margin-bottom: 20px;
}
dl {
  border: solid 2px orange;
  background-color: white;
  opacity: 0.8;
}
dt {
  font-size: 24px;
}
// .radio-btn {
//   font-size: 1.25em;
// }
.check_box {
  font-size: 1.25em;
}
#events-form {
  background-color: white;
  opacity: 0.8;
  border: solid 2px orange;
}
#event-box {
  margin-top: 20px;
  margin-bottom: 50px;
}
#submit-btn {
  margin-top: 10px;
  margin-bottom: 15px;
}
// change bootstrap default height
.pre-scrollable {
  max-height: 400px !important;
}
.my-btn {
  font-size: 2em;
}
.center {
    float: none;
    margin: 0 auto;
}
