<!DOCTYPE html>
<html>
  <head>
    <title>NycEvents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif",
                                media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
